h1, h2, h3{
    display: flex;
    justify-content: center;
}

header{
    background-color: red;
}

header *{
    display: flex;
    justify-content: center;
}

p{
    font-size: 18px; 
    display: flex;
    justify-content: center;
}

#calendario-digital{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
    transition: transform 3s ease;
}

#calendario-digital:hover{
    transform: rotate(360deg);
}

div{
    display: flex;
    justify-content: center;
}

nav{
    background-color: aqua;
}

#navegacion{
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 30px;
    font-size: 18px;
    align-items: center;
}

.persona{
    margin: 1px solid black;
    border: 2px solid red;
    padding: 10px;
    height: 300px;
    transition: transform 1s ease;
}

.persona:hover{
    transform: scale(1.5);
}

main{
    background-color: chartreuse;
}

h2{
    margin-top: 50px;
}

table *{
    border: 1px solid black;
}

table, th, td{
    border-collapse: collapse;
    padding: 15px;
    font-size: 17px;
}

caption{
    font-size: 20px;
    padding: 15px;
}

#formulario *{
    margin-top: 30px;
    margin-bottom: 30px;
}

#recordatorios{
    background-color: darkviolet; 
    border: 1px solid black; 
    display: flex;
    justify-content: center;
}

#recordatorios:hover{
    transform: scale(1.5);
}

.parent {
    display: grid;
    height: 520px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

footer{
    background-color: burlywood;
    padding: 20px;
    margin-top: 30px;
}
    
.div1 { 
    grid-area: 1 / 1 / 3 / 4; 
    background-image: url("https://www.bizagi.com/files/live/sites/bizagi/files/Blogs/organizacion%20de%20datos%20empresariales.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.div2 { 
    grid-area: 1 / 4 / 2 / 6; 
    background-image: url("https://img.freepik.com/vector-gratis/agenda-organizacion-trabajo-horario_107791-1848.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
}

.div3 { 
    grid-area: 2 / 4 / 3 / 6; 
    background-image: url("https://www.marypepas.com/wp-content/uploads/2020/12/MP_POST_organizacion-agenda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover{
    color: red
}

.card img{
    height: 300px;
}

 