#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.separador {
  width: 75%;
  height: 3px;
  background-color: red;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 50%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
}

input {
  border-radius: 5px;
  width: 30%;
}
