h1{
    display: flex;
    justify-content: center;   
}

h2{
    display: flex;
    justify-content: center;   
}

p{
    display: flex;
    justify-content: center;
}

div div{
    margin-right: 20px;
    margin-left: 20px;
}

body{
    background-image: url('https://as2.ftcdn.net/v2/jpg/05/72/63/87/1000_F_572638706_7D6rgEbqp1t1ScGlrHUeNzxfTy3Wqflx.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aqua;
}

#modificado{
    font-family: 'Montserrat', sans-serif;
}

p a{
    color: aqua;
}

.origen{
    font-size: 20px;
}

i{
    color:#f90505; 
    font-size: 100px; 
}